{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Campus Recruitment Portal{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">

            <a class="navbar-brand fw-bold" href="/">
                Campus Recruitment
            </a>

            <div class="ms-auto">

<a href="{% url 'login' %}" class="btn btn-light me-2">
                        Login
                </a>

<a href="{% url 'register' %}" class="btn btn-warning">
                        Register
                </a>

            </div>

        </div>
    </nav>

    <div class="container mt-5">

        {% block content %}
        {% endblock %}

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>